*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.contacts {
    margin: 110px 0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    min-height: 480px;
    margin: 0 auto;
}

body{
    background: #FFFAF0;
}

.contacts__wrapper{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    height: 100%;
    margin: 0 auto;
}

.contacts__header{
    margin: 0 auto;
}

.contacts__header h2{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    margin-bottom: 20px;
}

.contacts__form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 300px;
    outline: none;
}

.contact__btn{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.contact__btn:hover{
    background-color: #4B0082;
}



.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__wrapper{
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    min-height: 150px;
    width: 400px;
}

.contacts__items{
    list-style: none;
    
}

.modal__btns{
    margin: 0 auto;
}

.contact__body{
    margin: 40px 0;
}

.item{
    font-size: 16px;
    font-weight: 700;
}

.preloader{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader__text{
    font-size: 48px;
    color: #ffffff;
    font-family: Arial;
}